<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <p style="color: green"><%= t('.success') %></p>
<% else %>
  <p style="color: red"><%= t('.fail') %></p>
<% end %>
<p>
  Отвечено верно на <%= @test_passage.percent %> %
</p>
<%= link_to t('.tests_link'), tests_path %>