<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to 'TestGuru', tests_path, class: 'navbar-brand' %>
<li class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to 'Feedback', send_feedback_path, class: 'nav-link' %>
</li>
  <span class = "navbar-nav ml-auto md-2">
    
    <li class="navbar navbar-expand-md navbar-light bg-light"><% if user_signed_in? %>
      Welcom, <b><%= current_user.email %></b> Guru </li> 
      <li><% if current_user.admin? %>
        <%= link_to 'Admin panel', admin_tests_path, class: 'nav-link' %>
        <% end %>
      </li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
      <li><%= link_to 'Log In', new_user_session_path, class: 'nav-link' %></li>
    <% end %>
  </span>
</nav>
