<tr>
  <td class="align-middle">
    <%= content_tag :span, 
                    test.title, 
                    class: 'test_title', 
                    data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test%>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to t('actions.show'), admin_test_path(test), class: 'btn btn-primary' %></td>
  <td class="align-middle">
      <%= link_to t('actions.edit'), edit_admin_test_path(test), data: { test_id: test.id }, class: 'form-inline-hide btn btn-primary' %>
  </td>
  <td class="align-middle">
    <%= link_to t('actions.delete'), admin_test_path(test), class: 'btn btn-primary',
                method: :delete,
                data: { confirm: t('actions.delete_confirmation') } %></td>
</tr> 