<%= render 'shared/errors', resource: @test %>
<h1 class="row justify-content-center"><%=t('.header')%></h1>

<p> <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-primary ml-2' %></p>

<table class="table table-striped ml-2">
  <tr>
      <th class="sort-by-title pointer">
        <%= t('.table.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.table.level') %></th>
      <th><%= t('.table.questions') %></th>
      <th colspan="4"><%= t('.table.actions') %></th>
  </tr>

  <%= render @tests %>
</table>

