<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>
<p>
  List questions:
  <%= render @test.questions %>
  <%= link_to t('.create'), new_admin_test_question_path(@test) %>
</p>



<%= link_to t('navigation.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('navigation.back'), admin_tests_path %>
