<div class="card-header ml-2">
  <h1 class="row justify-content-center"><%= t('tests.index.header') %></h1>
</div>
  <% if @tests.present? %>
    <table class="table table-striped ml-2">
      <tr>
        <th class="sort-by-title pointer">
        <%= t('.table.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
        <th><%= t('.table.level') %></th>
        <th><%= t('.table.questions') %></th>
        <th colspan="1"><%= t('.table.actions') %></th>
      </tr>
    
      <%= render @tests %> 
      </table>
    <% else %>
      <p><%= t('.no_tests_available') %></p>
    <% end %>
  </table>
</div>
