<h1> Title: 
  <%= @test.title %>
</h1>

<p> Level: 
  <%= @test.level %>
</p>

<p>
  List questions:
  <%= render @questions %>
</p>


<%= link_to 'New question', new_test_question_path(@test) %>
<%= link_to 'Back', tests_path %>