<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to 'TestGuru', tests_path, class: 'navbar-brand' %>  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <li class="navbar-item">
          <%= link_to 'Admin panel', admin_tests_path, class: 'nav-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<%= render 'shared/flash' %>
<% end %>
