<!DOCTYPE html>

<nav class="navigation nav-section">
  <div>
    <p class="nav-brand"><%= link_to 'TestGuru', tests_path %></p>
    <ul class="link-list">
      <li class="nav-item"><%= link_to 'Sign up', signup_path %></li>
      <% if logged_in? %>
        <li class="nav-item", Welcome, <%= current_user.title %> Guru
        <li class="nav-item"><%= link_to 'Want to logout?', logout_path %></li>
      </p>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcom, <b><%= current_user.email %> - <%= current_user.title %></b> Guru</p>
      
    <% end %>

    <%= yield %>
  </body>
</html>
